/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */


@font-face {
  font-family: "Luk";
  src: url("../fonts/LukGX.ttf") ;
}


html {
  font-size: 100%;
}

body {
	font-size: 20px;
	line-height: 1.7;
	
	font-family: obviously-wide, sans-serif;
  	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 30px;
	max-width: 2400px;
	background-color: #e9eae6;
}

@media (max-width:1000px) {
  body {
    font-size: 38px;
  }
	

  p {
	  margin-top:100px;
	  margin-bottom:100px;
	  margin-left: -120px;
    margin-right: -120px;}

}

@media (max-width:600px) {
  body {
    font-size: 42px; 
  }
	
  p {margin-left: -185px;
    margin-right: -185px;}


}

section {margin-bottom: 30px;}


#columns {
	column-count: 3;
	column-gap: 30px;
}

@media (max-width: 980px) {
  #columns {
    column-count: 1;
  }
}

h1 {

  --weight: 450;
  --width: 200;
  font-family: "Luk","obviously-wide";
  font-variation-settings: "wght" var(--weight);
  font-size: 8vw;
  text-align: center;
  color: #000;
  margin-top: -40px;
  margin-bottom: 0.3em;
  padding: 0;

}

p {
  margin-top: 0;
}

body, a, a:visited {
  color: #333;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


ul li:before {
  content: "☛ ";
}
/*
ul li:hover:before {
   color: #292658;
}*/

#columns > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header div {
  
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

footer {
	margin: 4em auto;
	width: 150px;
  margin-bottom:70px;
}
/*
footer img {
	width: 100%;
}
*/
#columns > * > img  {
  width: 100%;
	display: block;
}

a {
   text-decoration: none;
}
/*
a:hover {
   color: #292658;
}*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.fade-in {
  top:-10px;
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  animation-delay: 0.4s;
}

.logo-l {
   
    z-index: 2;

}


.rotate {
  animation: rotation 8s infinite linear;
  align-content: center;
  z-index: 1;
      margin-bottom: 50px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

