body {
  padding: 0;
  margin: 0 auto;
  max-width: 2400px;

  background-color: #fefefe;
  font-family: acumin-pro;
  /*letter-spacing: 0rem;*/
  /*line-height: 2.5rem;*/
  font-size: 16px;

  column-count: 2;
  column-gap: 0;
}

body, a, a:visited {
  color: #28374f;
}

h1 {
  font-family: 'King's Caslon Display' 
  /*font-family: 'Sorts Mill Goudy';
  font-weight: 600;*/
}

ul {
  margin: 0;
  list-style-type: none;
}

li:before {
  content: "– ";
}

body > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header div {
  padding: 4em;
  box-sizing: border-box;
}

body > * > img  {
  width: 100%;
	display: block;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.fade-in {
  top:-10px;
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  animation-delay: 0.4s;
}

@media only screen and (max-device-width: 480px) {
  body {
    column-count: 1;
  }
}
