/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 100%;
}

body {
  font-size: 1.7em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  color: #222;
	font-family: acumin-pro;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  /*font-weight: 300; */
}

h1 {
	font-size: 2.4rem;
	line-height: 1.2;
  letter-spacing: .02em
}

p {
  margin-top: 0;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 2400px;
  background-color: #fefefe;

  column-count: 2;
  column-gap: 0;
}

body, a, a:visited {
  color: #28374f;
}

h1 {
  font-family: "kings-caslon-display";
}

ul {
  margin: 0;
	padding: 0;
  list-style-type: none;
}

li:before {
  content: "⟶ ";
}

body > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header div {
  padding: 3em;
  box-sizing: border-box;
}

body > * > img  {
  width: 100%;
	display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  top:-10px;
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  animation-delay: 0.4s;
}

@media only screen and (max-device-width: 480px) {
  body {
    column-count: 1;
  }
}
